{% extends 'base.html.twig' %}

{% block body_id 'nos_origines_show' %}
{% block Carousel %}
{% endblock %}

{% block main %}
    <h1>Inscription</h1>
    
{% endblock %}

{% block sidebar %}


{% endblock %}
