{% extends 'base.html.twig' %}


{% block body_id 'nos_origines_show' %}
{% block Carousel %}
{% endblock %}

{% block main %}
    <p ><h3> MINISTERE DE LA COMMUNICATION</h3></p>
	 <p >
      A COMPLETER ..............................................
    </p>	
    
{% endblock %}

{% block sidebar %}
    {{parent()}}
{% endblock %}
