{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}
{% block Carousel %}
{% endblock %}
{% block main %}
    <p ><h3> Ce que nous croyons </h3></p>
	<p>
		<h4> Naissances de l'adventisme </h4>
	</p>
	
    <p class="text-justify","font-weight-normal">
       On pourrait facilement résumer ce que croient les adventistes sur un bout de papier.
    </p>
			
	 <p class="text-justify","font-weight-normal">
       a) ce qu’ils ont en commun avec beaucoup d’autres chrétiens
       b) ce qui est spécifique à cette communauté religieuse
    </p>	
	
	 <p class="text-justify","font-weight-normal">
       Les adventistes croient en un Dieu trinitaire : Père, Fils et Saint-Esprit. Jésus-Christ, le Fils de Dieu, est pour eux le Sauveur qui devint pleinement Dieu tout comme il devint pleinement homme. Le Saint-Esprit est la troisième personne divine qui nous assiste continuellement dans notre vie de foi.
    </p>
	
	
	<p class="text-justify","font-weight-normal">
       Dieu a parlé aux hommes par la Bible, le livre inspiré qui constitue la base de toutes les doctrines et qui est un guide pour le croyant dans sa façon de vivre.
    </p>
	
	<p class="text-justify","font-weight-normal">
       Mais Dieu s’est fait connaître d’une manière encore plus directe en devenant homme. 
	   Jésus-Christ est venu sur terre de façon surnaturelle. 
	   Il y a vécu, souffert et il y mourut pour l’humanité. 
	   Grâce à son oeuvre d’amour, une sortie du péché est devenue possible et la vie éternelle a été mise à notre portée. 
	   Le chrétien vit dans l’espoir du prochain retour de Jésus dans ce monde selon sa promesse et de la fin de toute souffrance, maladie et mort. 
	   Une foule d’événements qui se déroulent dans ce monde représentent des ‘’signes’’ montrant que ce moment s’approche à grands pas.
    </p>
			
	<p class="text-justify","font-weight-normal">
       Les adventistes insistent également, comme d’autres protestants, sur la valeur des symboles que sont le baptême et la sainte Cène.
    </p>	
	
	<p class="text-justify","font-weight-normal">
       La différence la plus marquante avec d’autres chrétiens, 
	   c’est que les adventistes observent leur jour de repos le septième jour de la semaine (samedi, sabbat), et non le premier jour (dimanche).
    </p>	
	
	<p class="text-justify","font-weight-normal">
       Pareillement, leur point de vue diverge quant à la situation de l’homme dans la mort mais elle est toutefois partagée par beaucoup d’autres chrétiens.
	   Les adventistes ne croient pas en une âme immortelle qui continuerait à vivre indépendamment du corps immédiatement après la mort, 
	   mais elle croit plutôt que celui qui meurt entre directement dans une sorte de ‘’sommeil’’, 
	   jusqu’au retour du Christ où la résurrection des morts se produira.
    </p>	
	
	<p class="text-justify","font-weight-normal">
       La "gestion chrétienne de la vie" est un autre sujet important dans l’Eglise adventiste. 
	   Dieu est le propriétaire de tout, y compris de nos moyens financiers. Il vient à la première place, 
	   c’est pourquoi les adventistes offrent dix pour cent de leurs revenus à leur Seigneur. La gestion chrétienne de la vie implique également une responsabilité vis-à-vis du corps que nous avons reçu. 
	   Vivre sainement, s’abstenir des choses nuisibles (comme le tabac, l’alcool) et de certaines sortes d’aliments reposent sur ce principe.
    </p>	
	
	<p class="text-justify","font-weight-normal">
       Les adventistes du septième jour ne croient pas qu’ils seront seuls sauvés, 
	   mais ils sont convaincus de posséder des vues importantes qui échappent à la plupart des autres chrétiens et qu’ils sont investis de la mission de les faire connaître à leurs contemporains. 
	   C’est pourquoi ils s’y consacrent de tout leur coeur.
    </p>	
	
    
{% endblock %}

{% block sidebar %}
    {{parent()}}
{% endblock %}
