{% extends 'base.html.twig' %}


{% block body_id 'nos_origines_show' %}
{% block Carousel %}
{% endblock %}

{% block main %}
    <p ><h3> Nos origines </h3></p>
	
	
    <p class="text-justify","font-weight-normal">
       Entre 1830 et 1840, un immense réveil se produisit au coeur des églises protestantes du  Nord-Est des Etats-Unis. 
	   A cela s’est associé un intérêt très marqué pour les écrits prophétiques de la Bible.
    </p>
	
	<p class="text-justify","font-weight-normal">
       Le mouvement adventiste de ces années-là en fut l’un des résultats. 
	   William Miller joua à partir de 1832 un rôle essentiel. 
	   Il était parvenu à la conviction que le Christ allait revenir sur terre en 1843 ou en 1844. 
	   Cette prédiction, comme beaucoup d’autres de ce genre, ne s’accomplit pas. Peu de temps après cette déconvenue, 
	   l’un des groupes qui survécut à ce mouvement (constitué de croyants issus de diverses églises), décida d’approfondir l’étude de la Bible. 
	   C’est dans ce cercle que se retrouvèrent ceux qui devinrent les pionniers de l’Eglise adventiste du septième jour.
    </p>
	
	<p ><h4> Genèse et histoire de l’Eglise adventiste Galilée de Gressier </h4></p>
	

{% endblock %}

{% block sidebar %}
    {{parent()}}
{% endblock %}
