{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}
{% block Carousel %}
{% endblock %}
{% block main %}
    <p ><h3> Qui sommes-nous? </h3></p>
	<p>
		<h4> Naissances de l'adventisme </h4>
	</p>
	
    <p class="text-justify","font-weight-normal">
       Entre 1830 et 1840, un immense r&eacuteveil se produisit au coeur des &eacuteglises protestantes du Nord-Est des Etats-Unis. 
	   A cela s'est associ&eacute un int&eacuter&ecirct tr&egraves marqu&eacute pour les &eacutecrits proph&eacutetiques de la Bible.
    </p>
			
     			
	<table class="table table-borderless">
 
  <tbody>
    <tr>
		<td>
			<figure class="figure">
			<img class="figure-img img-fluid rounded-circle"  src="{{ asset('images/qui_sommes_nous/William_Miller.jpg') }}"  alt="William Miller" max-width : 100%;heigth:auto; width="100" height="100",display:block />
				<figcaption class="figure-caption text-center">William Miller</figcaption>
			</figure>
		</td>
		<td><p class="text-justify">
			Le mouvement adventiste de ces ann&eacutees-l&agrave en fut l'un des r&eacutesultats. William Miller joua &agrave partir de 1832 un r&ocircle essentiel. 
			Il &eacutetait parvenu &agrave la conviction que le Christ allait revenir sur terre en 1843 ou en 1844. 
			Cette pr&eacutediction, comme beaucoup d'autres de ce genre, ne s'accomplit pas. Peu de temps apr&egraves cette d&eacuteconvenue,
		</p></td>
		</tr>
		<tr>
		<td colspan="2">l'un des groupes qui surv&eacutecut &agrave ce mouvement (constitu&eacute de croyants issus de diverses &eacuteglises), 
			d&eacutecida d'approfondir l'&eacutetude de la Bible. 
			C'est dans ce cercle que se retrouv&egraverent ceux qui devinrent les pionniers de l'Eglise adventiste du septi&egraveme jour.
		</td>
    </tr>
  </tbody>
</table>
{#
	<p class="text-justify">
	<img class="align-middle"  class="img-responsive" src="{{ asset('images/qui_sommes_nous/William_Miller.jpg') }}"  alt="William Miller" max-width : 100%;heigth:auto; width="100" height="100",display:block/>          
		
		Le mouvement adventiste de ces ann&eacutees-l&agrave en fut l'un des r&eacutesultats. William Miller joua &agrave partir de 1832 un r&ocircle essentiel. 
		Il &eacutetait parvenu &agrave la conviction que le Christ allait revenir sur terre en 1843 ou en 1844. 
		Cette pr&eacutediction, comme beaucoup d'autres de ce genre, ne s'accomplit pas. Peu de temps apr&egraves cette d&eacuteconvenue, 
		l'un des groupes qui surv&eacutecut &agrave ce mouvement (constitu&eacute de croyants issus de diverses &eacuteglises), 
		d&eacutecida d'approfondir l'&eacutetude de la Bible. 
		C'est dans ce cercle que se retrouv&egraverent ceux qui devinrent les pionniers de l'Eglise adventiste du septi&egraveme jour.
	</p>
#}	
	<p>
		<h4>L'Eglise adventiste du septi&egraveme jour</h4>
	</p>
	
	<p class="text-justify">
		Le petit groupe qui &eacutetait sorti du mouvement adventiste de William Miller s'agrandit lentement mais s&ucircrement et 
		parvint en 1863 &agrave la fondation officielle de l'Eglise adventiste du septi&egraveme jour.
	</p>
	<p class="text-justify">
		Au d&eacutepart, cette croissance atteignit le Nord-Est des Etats-Unis. Mais les choses chang&egraverent rapidement. 
		En 1874, la premi&egravere mission adventiste s'installa en Europe. Avant la fin du dix-neuvi&egraveme si&egravecle d&eacutej&agrave, 
		on pouvait trouver quelques adventistes dans la plupart des pays europ&eacuteens. Au d&eacutebut du vingti&egraveme si&egravecle, 
		une extension rapide se poursuivit vers d'autres parties du monde.
	</p>
	
	<p class="text-justify">
		Alors que l'Eglise devenait plus nombreuse et se dotait peu &agrave peu de solides structures, 
		la vision th&eacuteologique se d&eacuteveloppait &eacutegalement. 
		A ct&eacute de l'attente de la prochaine venue de J&eacutesus et de l'observation du jour de repos le septi&egraveme jour, 
		un grand int&eacuter&ecirct se manifesta en faveur d'autres principes bibliques.
	</p>
	
	<p class="text-justify">
		La croissance mondiale de l'Eglise alla rapidement de pair avec la fondation d'un r&eacuteseau d'&eacutecoles, 
		d'institutions sanitaires, de maisons d'&eacutedition et d'imprimeries. L'Eglise est aujourd'hui pr&eacutesente dans presque tous les pays du monde. 
		Le nombre de membres baptis&eacutes atteint 17 millions.
	</p>
	
	<p class="text-justify">
		<h4>Une Eglise chr&eacutetienne</h4>
	</p>
	<p class="text-justify">
		L'Eglise adventiste est un Eglise chr&eacutetienne. 
		Toute communaut&eacute de foi a des caract&eacuteristiques sp&eacutecifiques, et cela est valable pour l'Eglise adventiste. 
		Vous les trouverez plus loin dans ce site web. 
		Mais il parait important de sp&eacutecifier tout d'abord que les adventistes sont des chr&eacutetiens dans le plein sens du terme. 
		J&eacutesus-Christ est le fondement de tout ce qu'ils font ou croient. 
		Ensemble avec les chr&eacutetiens de toutes confessions, les adventistes du septi&egraveme jour croient que Dieu s'est r&eacutev&eacutel&eacute &agrave nous dans la personne historique de J&eacutesus. 
		Et que ce J&eacutesus est le Christ, sur la base de son origine surnaturelle, 
		de sa vie sur terre, de sa mort et de sa r&eacutesurrection et parce qu'il est notre R&eacutedempteur.
	</p>
	<p class="text-justify">
		L'Eglise adventiste est une Eglise chr&eacutetienne. 
		On fait souvent la diff&eacuterence entre "&eacuteglises" et "sectes".
		Les sectes sont habituellement consid&eacuter&eacutees comme des groupes qui ont fait de certains sujets secondaires des th&egravemes principaux et chez qui un responsable humain occupe une place centrale. 
		Les adventistes constituent en Belgique et au Luxembourg une petite communaut&eacute, mais ils forment &agrave tout point de vue une Eglise.
	</p>
	<p>
		<h4>Une Eglise protestante </h4>
	</p>
	<p class="text-justify">
	H&eacutelas au cours des si&egravecles, le christianisme est devenu la proie d'une regrettable division. 
	L'un des schismes les plus importants eut lieu au seizi&egraveme si&egravecle alors qu'apparaissait le protestantisme qui voulait se distinguer de l'Eglise qui &eacutetait dirig&eacutee depuis Rome. 
	Des hommes comme Luther, Calvin et Zwingli (et beaucoup d'autres avant et apr&egraves eux) protest&egraverent (d'où le nom de protestant) contre diverses id&eacutees et pratiques qui 
	s'&eacutetaient insinu&eacutees dans l'Eglise et contre la façonde vivre de nombreux chefs religieux. Hélas, les "réformateurs" n’étaient pas tous d’accord sur tous les points, c’est la raison pour laquelle se développèrent différentes orientations théologiques.
	</p>
	

    
{% endblock %}

{% block sidebar %}
    {{parent()}}
{% endblock %}
