<form action="{{ url('admin_evenement_delete', {id: evenement.id}) }}" method="post" data-confirmation="true" id="delete-form" style="display:inline-block" onsubmit="return confirm('voulez-vous vraiement supprimer ces infos ?')">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-sm btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        delete
    </button>
</form>
